# Configuration CreateTorrent

# Dossier source par défaut (contenant les CBZ/PDF)
SOURCE_DIR=

# Chemin vers book.json (laisser vide pour chercher dans SOURCE_DIR)
BOOK_JSON=

# Tracker URL
TRACKER_URL=https://theoldschool.cc/announce/VOTRE_PASSKEY

# API TheOldSchool.cc
API_TOKEN=VOTRE_API_TOKEN

# Délai entre uploads (en secondes)
UPLOAD_DELAY=10

# Créateur du torrent (champ "created by")
CREATED_BY=MonPseudo

# Type ID pour l'upload
TYPE_ID=

# API imgbb pour upload des covers
IMGBB_API_KEY=
